<head>
    <meta charset="utf-8">
    <title>RainbowFlame | <%- title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/be7c572c-a86e-4178-a8a9-59282936bcff%2F5714362160_b40ec1ba89_b-01.jpeg?v=1586328373789" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  
  <style>
    :root {
      font: 16px/1.2 Roboto;
      --text-primary: #EEEEEE;
    }
    
    body {
      background-color: #2E3440;
      
      color: var(--text-primary);
    }
    
    nav {
      display: flex;
      flex-direction: row;
      
      max-width: 100vw;
      margin: 2rem 4rem;
      
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
    .rainbowText {
      font-weight: 700;
      font-size: 2rem;
      background-image: linear-gradient(to right, #FF9AA2, #FFB7B2,  #FFDAC1, #E2F0CB,  #B5EAD7, #C7CEEA);   
      -webkit-background-clip: text;
      -moz-background-clip: text; 
      background-clip: text;
      color: transparent;
    }
  
    
    .logo-img {
      width: 5rem;
      height: 5rem;
      
      margin: 0 1rem;
    }
    
    .nav-items {
      list-style: none;
      display: flex;
      felx-direction: row;
    }
    
    .nav-items a {
      color: var(--text-primary);
      text-decoration: none;
      
      margin: 0 1rem;
    }
    
  </style>
  <script>
    // window.addEventListener("load", function() {
    //   var elements = document.getElementsByClassName("rainbowText");
    //   for (let i = 0; i < elements.length; i++) {
    //     const element = elements[i];
    //     var text = element.innerText;
    //     element.innerHTML = "";
    //     for (let i = 0; i < text.length; i++) {
    //       let charElem = document.createElement("span");
    //       charElem.style.color = "hsl(" + (360 * i / text.length) + ",80%,50%)";
    //       charElem.innerHTML = text[i];
    //       element.appendChild(charElem);
    //     }
    //   }
    // });
  </script>
</head>