<nav>
  
  <div class="logo">
    <img class='logo-img' src='https://cdn.glitch.com/be7c572c-a86e-4178-a8a9-59282936bcff%2F5714362160_b40ec1ba89_b-01.jpeg?v=1586328373789' alt='logo'/>
    <h1>Rainbow</h1> 
    <h2>
      Flame
    </h2>
  </div>
  
  <ul class='nav-items'>
    <a href='#'> <li> ABOUT </li> </a>
    <a href='#'> <li> COMMANDS </li> </a>
    <a href='#'> <li> STUFF </li> </a>
    <a href='#'> <li> CONTACTS </li> </a>
  </ul>
</nav>