<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/head", { title: "Home" }) %>
  <body>
    <%- include("layouts/navbar") %>
    
    <%- include("layouts/footer") %>
  </body>
</html>
